HOSTNAME=127.0.0.1
PORT=3000
APP_ID="1234567"
WEBHOOK_SECRET="something-secret"
PRIVATE_KEY_PATH="/home/user/my-app/private-key.pem"
WEBHOOK_PROXY_URL="https://smee.io/abc123"
APPLICATION_INSIGHTS_CONNECTION_STRING=